<div class="wrpper-tiker">
  <h1 class="border-list text-center">Live Feed</h1>
  <div class="user-account">
      <textarea class="border-box" type="text" (keyup.enter)="addMessage(m)" #m></textarea>
      <img class="border-box user-img" [src]="userId.image">
      <button (click)="addMessage(m)">שלח</button>
  </div>
  <div class="clearfix"></div>

  <ul>
    <li class="border-list fadeIn "  *ngFor="let ticker of tickerShowing">
        <div class="wrapp-content" >
            <p class="name">{{ticker.name}}</p>
            <p class="date">{{ticker.date}}</p>
            <p class="text">{{ticker.text}}</p>
        </div>
        <div class="wrapp-img">
            <img class="border-box" [src]="ticker.image">
        </div>
      </li>
  </ul>
</div>